.mobile-header-container{
    display: flex;
    justify-content: space-between;
    padding-left: 0.25rem;
    padding-right: 0.5rem;
}
.join-link{
  color:white;
}

button{
  color:white;
  background-color: #1c352d;
}
