section{
    background-image: url("/assets/images/hero-bg.jpg");
    background-size: contain;
    width:auto;
    height:100%;
    color:white;
    padding-left: 2rem;
}

.center{
  display:flex;
  justify-content: center;
  padding-top: 1rem;
}

.space-from-top{
  padding-top:1rem;
  display:flex;
}

.padding-mobile{
  padding-left:.5rem;
}

.mobile-text{
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.title{
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
}

