<div class="footer-container">
  <div>
    <div class="footer-header" ><a href="#">About</a></div>
    <div><a href="#">Learn More</a></div>
    <div><a [routerLink]="['people']">People</a></div>
    <div><a href="#">Careers</a></div>
  </div>
  <div>
  <div class="footer-header" ><a href="#">Resources</a></div>
    <div><a href="#">Docs</a></div>
    <div><a href="#">Blog</a></div>
  </div>
  <div>
    <div class="footer-header"><a href="#">Contact Menu</a></div>
    <div><a href="#">Help</a></div>
    <div><a href="#">Sales</a></div></div>
</div>


